<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Artist</th>
            <th (click)="sort()" class="puntero ">Duración</th>
            <th>Preview</th>
            <th>Fav</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of items">

            <td>{{item.name}}</td>
            <td (click)="seeArtist( item )" class="puntero">{{item.artists[0].name}}</td>
            <td>{{item.duration_ms | date: "mm:ss"}}</td>
            <td>
                <audio [src]="item.preview_url" controls></audio>
            </td>
            <td> <button (click)="checkIfFavourite(item.id)">
                    <i *ngIf="checkFav(item.id)" class="material-icons star" >star</i>
                    <i *ngIf="!checkFav(item.id)" class="material-icons star_border" >star_border</i>
                </button>
            </td>
        </tr>
    </tbody>
</table>