<table class="table table-hover table-dark table-responsive">
    <thead>
        <tr class="bg-dark">
            <th>Nombre</th>
            <th>Album</th>
            <th>Artista</th>
            <th>Duración</th>
            <th>Preview</th>
            <th>Fav</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of items">

            <td>{{item.name}}</td>
            <td>{{item.album.name}}</td>
            <td (click)="verArtista( item )" class="puntero a">{{item.artists[0].name}}</td>
            <td>{{item.duration_ms | date: "mm:ss"}}</td>
            <td>
                <audio [src]="item.preview_url" controls></audio>
            </td>
            <td> <button (click)="favorito(item.id)">[fav]</button><button (click)="removeFavourite(item.id)">[x]</button></td>

        </tr>
    </tbody>
</table>