<app-loading *ngIf="loading"></app-loading>
<div *ngIf="error" class="alert alert-danger animated fadeIn">
  <p>{{ errorMessage }}</p>
  <a (click)="loginRefresh()"
    >The Spotify token is valid for one hour. Click here to refresh it.</a
  >
</div>
<label><h1>Dashboard</h1></label>
<app-header-item [item]="profile" [loading]="loading"></app-header-item>

<label><h1>Favorites</h1></label>
<app-list [items]="tracks"></app-list>

<label><h1>New Releases</h1></label>

<div class="card-container">
  <app-card
    class="card-pointer"
    *ngFor="let item of newSongs"
    [item]="item"
    [type]="'song'"
    (cardClick)="seeArtist(item)">
  </app-card>
</div>
