<app-header-artist [items]="artist"></app-header-artist>

<div class="card-container">
  <div
    (click)="seeSongsAlbum(album)"
    *ngFor="let album of albumArtist.items"
    class="card-pointer">
    <img [src]="album.images | noImage" class="card-img-top" />
    <div class="card-content">
      <span class="card-title">
        {{ album.name }}
      </span>
      <p class="card-text">
        <span class="badge badge-pill badge-dark badge-text">
          {{ album.release_date }}
        </span>
      </p>
    </div>
  </div>
</div>
