<div class="col">
  <table>
    <thead>
      <tr>
        <th (click)="sortn()" class="puntero">#</th>
        <th>Name</th>
        <th (click)="sort()" class="puntero">Duration</th>
        <th>Preview</th>
        <th>Fav</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.track_number }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.duration_ms | date: 'mm:ss ' }}</td>
        <td>
          <audio [src]="item.preview_url" controls></audio>
        </td>
        <td>
          <button (click)="checkIfFavorite(item.id)">
            <i *ngIf="checkFav(item.id)" class="material-icons star">star</i>
            <i *ngIf="!checkFav(item.id)" class="material-icons star_border"
              >star_border</i
            >
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
