<app-header-artist [items]="artista"></app-header-artist>


<app-list [items]="albumArtista.item"></app-list> -->

<div class="card-columns m-5 animated fadeIn">

    <div (click)="verCancionesAlbum( album )" *ngFor="let album of albumArtista.items" class="card puntero">
        <img [src]="album.images | noimage" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">

                {{album.name}}

                <p class="card-text">
                    <span class="badge badge-pill badge-dark">
                        
                            {{album.release_date}}
                        </span>

                </p>