@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '@angular/material/theming';

.puntero {
  cursor: pointer;
}

.puntero:hover {
  color: rgb(0, 151, 58);
}

.btn-outline-success {
  margin-left: 5px;
}

.img-thumb {
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;
}

body {
  background-color: black;
  height: 100%;
  font-family: Circular, Helvetica, Arial, sans-serif;
  color: whitesmoke;
  min-width: 400px; /* Adjust as required */
  overflow-x: auto;
}

.search {
  padding: 15px;
}

.card-title {
  color: white;
}

.artist-name {
  color: white;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-pointer {
  width: calc(
    25% - 10px
  ); /* 4 cards in a row with a 10px margin between them */
  margin: 5px;
  padding: 10px;
  text-align: center;
  min-width: 220px;
}

@media (max-width: 768px) {
  .card-pointer {
    width: calc(33.33% - 10px); /* 3 cards in a row for smaller screens */
  }
}

@media (max-width: 480px) {
  .card-pointer {
    width: calc(50% - 10px); /* 2 cards in a row for even smaller screens */
  }
}

.badge-text {
  font-size: 12px;
}

.card-content {
  margin: 0.5rem;
}

.component-container {
  margin: 3rem;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

//Table
.table-container {
  @include mat-elevation(8);
}

.puntero {
  cursor: pointer;
}

.puntero:hover {
  color: mat-color($mat-light-green);
}

.mat-mdc-row:nth-child(even) {
  background-color: #e4a5e4;
}
.mat-mdc-row:nth-child(odd) {
  background-color: #ff8fe3;
}
.mat-mdc-row:hover {
  background-color: #a8a8a8;
}
.mat-mdc-row {
  background-image: url('../src/assets/img/noise.png');
}

.mat-table {
  width: 100%;
  background-image: url('../src/assets/img/noise.png');
}

.mat-mdc-cell {
  font-size: 1rem;
}

.title {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.0125em;
  color: #a8a8a8;
  margin: 16px 0;
  padding: 16px 0;
}
