@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '@angular/material/theming';

.puntero {
  cursor: pointer;
}

.puntero:hover {
  color: rgb(0, 151, 58);
}

.btn-outline-success {
  margin-left: 5px;
}

.img-thumb {
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;
}

body {
  background-color: black;
  height: 100%;
  font-family: Circular, Helvetica, Arial, sans-serif;
  color: whitesmoke;
  min-width: 400px; /* Adjust as required */
  overflow-x: auto;
}

.search {
  padding: 15px;
}

.card-title {
  color: white;
}

.artist-name {
  color: white;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-pointer {
  width: calc(
    25% - 10px
  ); /* 4 cards in a row with a 10px margin between them */
  margin: 5px;
  padding: 10px;
  text-align: center;
  min-width: 220px;
}

@media (max-width: 768px) {
  .card-pointer {
    width: calc(33.33% - 10px); /* 3 cards in a row for smaller screens */
  }
}

@media (max-width: 480px) {
  .card-pointer {
    width: calc(50% - 10px); /* 2 cards in a row for even smaller screens */
  }
}

.badge-text {
  font-size: 12px;
}

.card-content {
  margin: 0.5rem;
}

.component-container {
  margin: 3rem;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

//Table
.table-container {
  @include mat-elevation(8);
}

.puntero {
  cursor: pointer;
}

.puntero:hover {
  color: mat-color($mat-light-green);
}

.mat-mdc-row:hover {
  background-color: rgb(102, 197, 138);
}

.mat-header-cell,
.mat-cell {
  color: whitesmoke;
  padding: 15px;
  border-bottom: 1px solid rgb(100, 100, 100);
}

.mat-table {
  width: 100%;
}
