.header-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: rgb(0, 151, 58);
  background-image: url('../../../../assets/img/noise.png');
  margin: 0rem;
  margin-bottom: 3rem;
}

.img-thumb {
  width: 100px;
  height: auto;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

h2 {
  margin: 0;
  color: #2a2a2a;
  font-size: 24px;
}
